* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #0a0a0a;
}

nav.menu-lateral {
    width: 80px;
    height: 100%;
    background-color: #202020;
    padding-top: 40px;
    padding-right: 0px;
    padding-bottom: 40px;
    padding-left: 1%;
    box-shadow: 3px 0 0 red;
    position: fixed;
    overflow: hidden;
    transition: .2;
}

nav.menu-lateral:hover {
    width: 300px;
}

.btn-expandir {
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i {
    color: white;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
    list-style-type: none;
}

ul li.tem-menu {
    transition: .2;
}

ul li.item-menu:hover {
    background-color: red;
}

ul li.item-menu a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 4%;
    padding-left: 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;
}

ul li.item-menu a .txt-link {
    margin-left: 40px;
}

ul li.item-menu a .icon > i {
    font-size: 30px;
}